<html>
	<head>
		<title>Level 1</title>
		<link 	rel="stylesheet" type="text/css" href="style.css">
		<link 	href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
		<script type="text/javascript" src="/script.js"></script>
	</head>
	<body>

		<div class="petri">
			<img src="/SVGs/Art/OutBaseStatic.svg">
		</div>

		<div class="scientist">
			<img src="/SVGs/Art/Scientist.svg">
		</div>

		<div class="thought">
			<img src="/SVGs/Art/InputBaseStatic.svg">
		</div>

		<div class="benchExtra">
			<img src="/SVGs/Art/BenchArtStatic.svg">
		</div>

		<div class="hints">
			<h3>Level: {{level.level}} </h3>
			<p>This cell is a {{level.cellName}} cell.</p>

		</div>

		<footer>
			<div class="tools">
				<h2>TOOLS</h2>

					<div class="promoTool">
						<div>
							<p>{{level.molecules.0.name}} </p>
						</div>
						<div>
							<img src="/SVGs/Items and Slots/InputPromoterHorizontal.svg">
						</div>
					</div>
					<div class="promoTool">
						<div>
							<p>{{level.molecules.1.name}} </p>
						</div>
						<div>
							<img src="/SVGs/Items and Slots/InputPromoterHorizontal.svg">
						</div>
					</div>
					<div class="promoTool">
						<div>
							<p>{{level.molecules.2.name}} </p>
						</div>
						<div>
							<img src="/SVGs/Items and Slots/InputPromoterHorizontal.svg">
						</div>
					</div>
					<div class="geneTool">
						<p>{{level.markers.0.name}}</p>
					</div>
					<div class="geneTool">
						<p>{{level.markers.1.name}}</p>
					</div>
					<div class="geneTool">
						<p>{{level.markers.2.name}}</p>
					</div>
					<div class="markerTool">
						<p>{{level.genes.0.gene}}</p>
					</div>
					<div class="markerTool">
						<p>{{level.genes.1.gene}}</p>
					</div>
					<div class="markerTool">
						<p>{{level.genes.2.gene}}</p>
					</div>
					<div>
						<button><p>Submit</p></button>
					</div>
			</div>
			<button>Submit</button>			
		</footer>

	</body>
</html>
